{% extends "nav.html" %}
{% block content %}
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div id="login-box">
        <h1><b>Login to an existing account</b></h1><br>
    <p>
        {{ form.username.label }}
        {{ form.username }}
    </p><br>
    <p>
        {{ form.password.label }}
        {{ form.password }}
    </p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
        <p style="background-color:red;color:white;padding:10px;">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        <br>
    <p><input class="web-button" type="submit" value="Login"></p>
        <a href="/register">Don't have an account? Register here.</a>
    </div>
</form>
{% endblock %}