#main-body{
    display:table;
    max-width: 1200 px;
    background-color:black;
}

#navigation{
    width:100%;
    box-shadow: 10px 10px 5px darkgrey;
    display:flex;
    flex-direction: column;
    background-color:white;
    flex-wrap:wrap;
}

h1{
    font-family:Verdana;
}

.card-img-top{
    transition: transform 0.3s ease;
    transform:scale(1);
}

.card-img-top:hover{
    transform:scale(1.1);
}

.card{
    transition: 0.4s ease;
}

#special-card{
    background:linear-gradient(45deg, gold, white);
    background-size:200% 200%;
    transition: background 0.2s ease, background-size 0.2s ease;
}

#special-card:hover{
    background: linear-gradient(45deg, white, gold);
    background-size:100% 100%;
}

.card:hover{
    box-shadow: 0 4px 10px gray;
    transform: scale(1.05);
}

.animated_img{
    transition: transform 0.3s ease;
    transform:scale(1);
}

.animated_img:hover{
    transform:scale(1.05);
}

#login-box{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:200px;
    background-color:white;
    width:800px;
    height:300px;
    border-radius:20px;
    box-shadow: 10px 10px 5px darkgrey;
    margin-top:10px;
}

#register-box{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:200px;
    background-color:white;
    width:800px;
    height:400px;
    border-radius:20px;
    box-shadow: 10px 10px 5px darkgrey;
    margin-top:10px;
}

#profile-box{
    display:flex;
    flex-direction:column;
    padding:100px;
    background-color:white;
    width:1200px;
    height:100%;
    border-radius:20px;
    box-shadow: 10px 10px 5px darkgrey;
    margin-top:10px;
}

#profile-inbox{
    display:flex;
}

#profile-content{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-right:50px;
}

#profile-image{
    height:200px;
    padding-right:50px;
}


body{
    background: radial-gradient(circle, #FFFFFF, #A9A9A9);
    margin:0;
}

a.text-decoration-none{
    display:inline-block;
}

#main-body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:transparent;
}

#home-body {
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:10px;
    padding:100px;
    background-color:white;
    width:1400px;
    border-radius:20px;
}

#store-page{
    max-width:100%;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    display:grid;
    width:1000px;
    align-items:start;
    margin:10px;
    gap:20px;
    box-sizing:border-box;
}

#store-page .card{
    padding:20px;
}

#small-username{
    position:absolute;
    margin:0;
    right:0;
    padding:20px;
    font-size:20px;
}

.web-button{
    background-color:white;
    color:black;
    border:1px solid black;
    width:150px;
    border-radius:10px;
    transition-duration: 0.3s;
}

.web-button:hover{
    background-color: #051094;
    color:white;
}

#game-body{
    width:1000px;
    background-color:white;
    border-radius:20px;
    padding:20px;
    margin:10px;
}
#game-content{
    display:flex;
}

#game-page-cover{
    height:400px;
}

#favourited-games{
display:flex;
}

#recommended-games{
display:flex;
}

#ordered-games{
display:flex;
}