{% extends "nav.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <div id="home-body">
        <h1>Hello, <b>{{ current_user.username }}</b></h1>
        <hr>
        <h2><b>Your favourited games:</b></h2>
        <div id="favourited-games">
            {% if user_favourites %}
            {% for game in user_favourites %}
                <div class="card" style="width:200px;margin:10px;">
                <a href="{{ url_for('game_page', id=game.id) }}" class="text-decoration-none" style="color:black;">
                <img class="card-img-top" src={{url_for('static', filename="game_images/"+game.cover_image)}} alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ game.game_title }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                </div>
                </a>
                </div>
            {% endfor %}
            {% else %}
            <p>You currently have not favourited any games.</p>
            {% endif %}
        </div>
        <hr>
        <h2><b>You might like:</b></h2>
        <div id="recommended-games">
            {% if recommendations %}
            {% for game in recommendations%}
            <div class="card" style="width:200px;margin:10px;">
                <a href="{{ url_for('game_page', id=game.id) }}" class="text-decoration-none" style="color:black;">
                <img class="card-img-top" src={{url_for('static', filename="game_images/"+game.cover_image)}} alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ game.game_title }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                </div>
                </a>
                </div>
            {% endfor %}
            {% else %}
            <p>Sorry, we are not able to recommend you any games right now.</p>
            {% endif %}
        </div>
        <hr>
        <h2><b>Recent orders:</b></h2>
            <div id="ordered-games">
                {% if user_orders%}
            {% for game in user_orders %}
            <div class="card" style="width:200px;margin:10px;">
                <a href="{{ url_for('game_page', id=game.id) }}" class="text-decoration-none" style="color:black;">
                <img class="card-img-top" src={{url_for('static', filename="game_images/"+game.cover_image)}} alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ game.game_title }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                </div>
                </a>
                </div>
            {% endfor %}
                {% else %}
                <p>You currently haven't ordered any games</p>
                {% endif %}
            </div>
        <hr>
        </div>
    {% else %}
        <br>
        <h1><b><i>Please <a href="{{ url_for('login') }}">login</a> to an account to access features</i></b></h1>
    {% endif %}
{% endblock %}