{% extends "nav.html" %}
{% block content %}
<div id="store-page">
    {% for game in games %}
    <div class="card" style="width:200px;" {% if game in current_user.favourites %}id="special-card"{% endif %}>
        <a href="{{ url_for('game_page', id=game.id) }}" class="text-decoration-none" style="color:black;">
        <img class="card-img-top" src={{url_for('static', filename="game_images/"+game.cover_image)}} alt="card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ game.game_title }}</h5>
            <p class="card-text">{{ game.description }}</p>
            <p class="card-text"><b>£{{ game.price }}</b></p>
            <p class="card-text">Favs: {{ game.favourites_count }}</p>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}